body{
    margin: 0px;
}
/* -----------------------------header -----------------------------*/

header{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}
.header-logo{
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
}
.header-logo__image{
    height: 50px;
    margin-right: 10px;
}
.header-logo__name{
    color: rgb(12, 182, 238);
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.header-button__enter{
    background-color: black;
    border: 2px solid rgb(12, 182, 238);
    border-radius: 12px;
    color: rgb(12, 182, 238);
    height: 50px;
    width: 100px;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}
.header-button__appointment{
    background-color: black;
    border: 2px solid rgb(12, 182, 238);
    border-radius: 12px;
    color: rgb(12, 182, 238);
    height: 50px;
    width: 250px;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

/* -----------------------------main------------------------ */

main{
    background-color: rgb(153, 214, 234);
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*----------------------------- login -----------------------------*/
.modal-container{
    width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
.modal-login-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 300px;
    height: 400px;
    background-color: white;
    border: 3px solid rgb(109, 109, 109);
    border-radius: 12px;
}
#form-login{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-input{
    display: flex;
    flex-direction: column;
    width: 230px;
    padding-bottom: 20px;
}
.modal-container__button{
    border: 2px solid black;
    background-color: white;
    border-radius: 12px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    cursor: pointer;
}
.modal-input label{
    font-size: 20px;
}
.modal-input input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
}
.modal-error{
    font-size: 20px;
    color: red;
    align-self: center;
    width: max-content;
}
#enter-modal-error{
    position: absolute;
    top: 430px;
    display: none;
}

.modal-button{
    width: 230px;
    display: flex;
    justify-content: space-around;
}
/* -----------------------------filter -----------------------------*/
.filter{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid rgb(153, 214, 234);;
}
.filter input, select{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 15px;
}
#filter-search{
    border: 2px solid black;
    background-color: white;
    border-radius: 12px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    margin: 0px 20px;
}
/* -----------------------------appointment -----------------------------*/

#appointment-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.appointment{
    position: fixed;
    top: 70px;
    right: auto;
    padding: 30px 0px;
    width: 550px;
    height: max-content;
    background-color: white;
    border: 3px solid rgb(109, 109, 109);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;

}
.appointment-block{
    display: flex;
    flex-direction: column;
}
#form-appointment{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.appointment-block input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}
.appointment-block label{
    font-size: 20px;
}
.appointment__list select, .appointment__general select{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}
.appointment__list{
    font-size: 20px;
}
.appointment__general{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.appointment__general input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}
.appointment__general label{
    font-size: 20px;
}
.appointment__button{
    border: 2px solid black;
    background-color: white;
    border-radius: 12px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    margin: 0px 20px;
}
.appointment-buttons{
    flex-direction: row;
    margin-top: 50px;
}
.edit-appointment-buttons{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 50px;
}
#app-close{
    cursor: pointer;
    border: 0px;
    background-color: white;
    position: absolute;
    top: -20px;
    right: 5px;
}
#app-close img{
    height: 30px;
    width: 30px;
}

.appointment-block{
    display: none;
}
.appointment__general{
    display: flex;
}

#app-modal-error{
    display: none;
}
/* -----------------------------visits----------------------------- */
.visits-container{
    border: 2px solid black;
    width: 500px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.visit-hidden {
    display: none;
}
.visits-container.modal-open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    padding: 20px;
}

.visits-container p {
    margin-left: 10px;
}
.visit-card{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    background-color: rgb(153, 214, 234);
}
.visit-card__buttons{
    width: 120px;
    height: 30px;
    background-color: white;
    margin: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;    
}
#edit-urgency{
    margin-bottom: 10px;
}

/* -----------------------------appointment-info -----------------------------*/
.appointment-info-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.appointment-info{
    width: 550px;
    height: fit-content;
    background-color: white;
    border: 3px solid rgb(109, 109, 109);
    border-radius: 12px; 
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.appointment-info-general{
    display: flex;
    flex-direction: column;
}
.appointment-info form{
    margin: 50px 0px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.appointment-info input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}
.appointment-info label{
    font-size: 20px;
}
.appointment-info select{
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 20px;
}

#edit-modal-error{
    display: none;
}